body {
    font-family:Tahoma;
    color:white
    }
    
    .baner1, .baner3,.baner4 {
    background-color:#983713;
    width: 17%;
    height:100px;
    }
    
    
    .baner2 {
        background-color:#983713;
        width: 49%;
        height:100px;
        text-align: center;
    }
    .lewy {
        background-color: #ff7f50;
        width: 80%;
        height:500px;
    }
    .prawy{
    background-color: #ff7f50;
    width: 20%;
        height:500px;
   
    }
    
  
    .stopka{
        background-color:#983713;
        text-align: right;
      
    
    }
    
    button {
        background-color: #d3d3d3;
        color:#2f2f2f;
        border:1px solid #2f2f2f;
        margin:5px;
        padding-top: 10px;
        padding-bottom:10px;
        padding-right: 30px;
        padding-left: 30px;
    }
    input{
        color:orange;
    }

    .baner1, .baner2,.baner3,.baner4,.prawy,.lewy{
        float: left;
    }
    
    
    
    