.baner {
    background-color: #829EB9;
    height: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.lewy {
    background-color: #B3C6D9;
    height: 500px;
    width: 25%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    float: left;
}

.prawy {
    background-color: #E0E9F1;
    height: 500px;
    width: 75%;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    float: left;
}

.stopka {
    background-color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    width: 100%;
    display: block;
    clear: left;
}
img{
    margin: 30px;
    padding: 10px;
}