body {
    font-family: Georgia ;
}

.baner1, .baner2{
    background-color: #3CB371;
    height: 100px;
    width: 40%;
}
.baner3 {
background-color: #3CB371;
height: 100px;
width: 20%;

}
.stopka {
    background-color: #3CB371;
    color: white;
    float: left;
    width: 100%;
    
}
h6 {
    text-align: right;
}
form{
    padding: 30px;
}
.baner1,.baner2,.baner3 {
    float: left;
}
.dane {
background-color: #FFDA89;
width: 170px;
height: 90px;
margin: 5px;
border: 1px solid #3CB371;
float: left;





}