.banner {
    background-color: #3A7AD9;
    height: 50px;
    text-align: center;
}
.blok_lewy {
    background-color: #5D93E2;
    width: 30%;
    height: 400px;
    text-align: center;
    float: left;
}
.blok_prawy {
    background-color: #88B0EC;
    width: 70%;
    height: 400px;
}
.stopka {
    background-color: #3A7AD9;
    height: 50px;
    text-align: right;
}
