body {
    font-family: Georgia, 'Times New Roman', Times, serif
}
.gora, .gora2 {
    background-color: rgb(197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
}
.baner,.stopka {
    background-color: rgb(246, 226, 222);
    color: white;
    text-align: center;
    height: 100px;
    padding: 10px;
    width: 100%;
    clear: both;
}
.lewy,.prawy {
    background-color: rgb(197, 85, 160);
    color:white;
    width: 50%;
    height: 400px;
}
#zamówienie {
    background-color: url("./cukierki1.png");
    padding-right: 70px;
    padding-bottom: 120px;
    font-size: 150px;
    text-decoration: none;
}

table,td{
    border: 2px dashed blue;
    margin: 20 px;
    padding: 10 px;
}
h2{
    letter-spacing: 10 px;
    font-size: 200%;
}
.lewy {
    float: left;
}
.prawy {
    float: left;
}
.gora {
    float: left;
}
.gora2 {
    float: left;
}