.baner{
    background-color: #993333;
    color:white;
    text-align: center;
    height: 80px;
    

    
}



.pierwszy,.drugi,.trzeci,.czwarty{
    font-style:Tahoma;
    background-color: #CC6666;
    color:white;
    text-align: center;
    height: 150px;
    width: 25%;
    float: left;
    
  
}


.lewy,.prawy{
    background-color: #CC9999;
    text-align: center;
    height: 550px;
    width: 40%;
    float: left;
    
    
}



.środkowy{
    background-color:  #FFCCCC;
    height: 550px;
    width: 20%;
    float: left;
    
    
}
    



.stopka{
    background-color: #993333;
    color:white;
    text-align: right;
    clear: both;
    
}
    



table{
    border:1px dotted red;
    width: 100%;
}

td{
    text-align: center;
}

.button{
    background-color: red;
    border: none;
    padding: 20px;
    color:white;

}