body {
margin-top: 100px;
} 

  

  .letter_password {
    padding: 30px;
    border-bottom: 3px solid black;
    ;
    margin: 3px;
  }

  .empty_letter_password {
    padding: 15px;
    margin: 3px;
    border-bottom: 0px !important;
  }

  .litery {
    clear: both;
    text-align: center;
  }

  #haslo {

    display: block;
    text-align: center;
    height: 10px;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  body {
    background-image: url(./tlo.jpg);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh

  }
  .literyinfo, .beka {
    text-align: center;
    font-size: 40px;
  }