body { 
    font-style: Garamond; 
} 
 
.lewy1{ 
    height: 500px; 
    width: 25%; 
    background-color: lavender; 
    
} 
 
.lewy2{ 
    height: 300px; 
    width: 25%; 
    background-color: lavender; 
     
     
     
} 
 
.prawy1{ 
    height: 150px; 
    width: 75%; 
    background-color: indigo; 
    color:white; 
    font-size: 200%; 
    text-align: center; 
     
     
    
} 
 
.prawy2{ 
    height: 650px; 
    width: 75%; 
    background-color: lavender; 
    font-size: 200%; 
    text-align: center; 
    
     
} 
.stopka{ 
    background-color: indigo; 
    color:white; 
    text-align: right; 
    clear: both; 
} 
 .lewo,.prawo{ 
     float: left; 
 } 
 
 
 
ul{ 
    list-style-type: square; 
} 
 
img{ 
    padding: 5px; 
    margin: 10px; 
} 
 
img:hover { 
    padding: 4px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: indigo; 
     
}