body {
    background-color: gray;
}

header {
    background-color: #D47958;
    height: 50px;
}

#lewy_blok {
    float: left;
    background-color: #AA593B;
    height: 450px;
    width: 40%;
}

main {
    float: left;
    background-color: #E5998B;
    height: 450px;
    width: 30%;
}

#prawy_blok {
    float: left;
    background-color: #AA593B;
    height: 450px;
    width: 30%;
}

#eraser {
    clear: both;
}

footer {
    background-color: #D47958;
    height: 50px;
    text-align: right;
}



ul {
    margin-left: 100px;
    list-style-type: circle;
}

img {
    margin-top: 100px;
    float: left;
}

form {
    margin-left: 120px;
    margin-top: 50px;
}
h4 {
    margin-left: 100px;
    margin-top: 200px;
}
h2 {
    text-align: center;
    margin: 0;
}
h3 {
    text-align: center;
}