body {
    font-family: Garamond ;
}

.baner_lewy, .baner_prawy{
    background-color: rgb(95,158,160);
    color: yellow;
    height: 90px;
    width: 20%;
    text-align: right;
}
.baner_srodkowy {
background-color: rgb(95,158,160);
height: 90px;
width: 20%;
text-align: center
}

.lewy{
    background-color: rgb(95,158,160);
    height: 90px;
    width: 20%;
    text-align: center
    }

.prawy,.lewy {
        background-color: rgb(175,238,238);
        height: 250px;
        width: 50%;
        float: left;
        
        }
        .glowny {
            background-color: rgb(95,158,160);;
            padding: 30px;
            
            }

            .stopka {
                background-color: rgb(175,238,238);
                padding: 10px;
                
                }


.baner_lewy,.baner_prawy,.baner_srodkowy {
    float: left;
}
table {
    border: 2px dotted green;
    width: 100px;
}
td{
    border: 2px dotted green;
}
th {
    border: 2px dotted green;
    background-color: green;
    color: yellow;
}