.t1 {
    text-align: center;
}
.t2 {
    text-align: center;
}
.t3 {
    text-align: center;
}
.k1 {
    background-image: url(bg2.jpg);
    width: 150px;
    height: 150px;
    font-size: 100px;
    border: 2px solid white;
}
body {
    background-image: url(bg1.jpg);
}
.ilosc {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.kom {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}