body{
    font-family:verdana;
}
#baner, #stopka{
    background-color: #4682b4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
    clear:both;
}
#lewy{
    float:left;
    background-color: #40E0D0;
    width: 40%;
    height: 500px;
}
#prawy{
    float: left;
    background-color: #40E0D0;
    width: 60%;
    height: 500px;
}
img{
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}