body {
    font-style: Verdana;
}

.menu{
    background-color: sandybrown;
    height: 120px;
    width: 60%;
    display: flex;
    align-items: center;
}

.logo{
    background-color: sienna;
    color:white;
    text-align: center;
    height: 120px;
    width: 40%;
}

.lewy{
    background-color: sienna;
    color:white;
    height: 700px;
    width: 60%;
}

.prawy{
    background-color: sandybrown;
    height: 700px;
    width: 40%;
}

.menu,.logo,.lewy,.prawy{
    float: left;
}

.stopka{
    background-color: #4D1900;
    color:white;
    text-align: right;
    clear: both;
}

a.link1{
background-color: green;
color:yellow;
padding: 20px 50px 20px 50px;

}

a.link1:hover{
    background-color: yellow;
    color:green;
    
}