body { 
    font-style: Verdana; 
    color:#2f2f2f; 
} 
 
 
.baner1{ 
    background-color:#DCDCDC; 
    width: 55%; 
    height: 80px; 
    text-align: center; 
} 
 
.baner2,.baner3,.baner4{ 
    background-color:#DCDCDC; 
    width: 15%; 
    height: 80px; 
} 
 
.baner1,.baner2,.baner3,.baner4{ 
    float: left; 
} 
 
.lewy{ 
    background-color:#808080; 
    width: 30%; 
    height: 450px; 
} 
 
.prawy{ 
    background-color:#808080; 
    width: 70%; 
    height: 450px; 
} 
.lewy,.prawy{ 
    float:left; 
} 
 
.stopka{ 
    background-color:#DCDCDC; 
    text-align: center; 
    clear: both; 
     
} 
 
h5{ 
    color:#808080; 
    border-style: solid; 
    border-color:#808080; 
    border-width:1px; 
    margin:7px; 
    padding:10px; 
    font-size: 80%; 
 
} 
 
input { 
    color:grey; 
}