body {
    font-family:Helvetica;
    }

    
    .lewy1 {
        background-color:snow;
        width: 100%;
        height:400px;
        text-align: center;
        
    }
    .lewy2 {
        background-color: snow;
        width:100%;
        height:400px;
        font-size: 150%;
    }
    .prawy1{
    background-color: steelblue;
    width: 100%;
    height:150px;
    color:white
   
    }
    .prawy2{
        background-color: steelblue;
        width: 100%;
        height:350px;
        color:white
       
        }
        .prawy3{
            background-color: snow;
            width:100%;
            height:300px;
            text-align: center;
           
            }
    



    .lewy{
        width: 70%;
        float: left;
    }
    .prawy{
        width: 30%;
        float: left;
    }
  
    .stopka{
        background-color: steelblue;
        color:white;
        width: 100%;
        clear: both;
        float: left;
        
      
    
    }
    
    button {
        background-color: steelblue;
        color:white;
        
    }
    h2{
        font-size: 250%;
    }
    img{
        padding: 4px;

    }
    img:hover{
        padding: 3px;
        border:1px solid steelblue;
        
    }
    ol{
        margin:0px;
    }

   
    
    
    
    