body {
    background-color:#99FFCC;
    }

    .glowny {

        width: 1000px;
        margin: auto;
        
        
    }
    .baner {
        background-color: #99FF66;
        height:200px;
        
    }
    .menu {
    background-color:#66CCFF;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;

   
    }
    .glowny1{
        
        width: 310px;
        padding: 10px;
    
        
        }
        .glowny2{
        
            width: 310px;
            padding: 10px;
            
            
            
            }
            .glowny3{
        
                width: 310px;
                padding: 10px;
                
                
                }
      


    .stopka{
        background-color: #66CCFF;
        color: #006666;
        text-align: right;
        height: 30px;
        padding: 20px;
        
      
    
    }
    
    a {
        color:  #006666;
        margin:50px;
        font-size:200%;
        text-decoration: none;
        
    }
    
    h2 {
text-align: center;
    }
    h3 {
        text-align: center;
            }

#resetuj { 
background-color: #FF0000;

 }
 #prześlij { 
    background-color: #00FF00;
    
     }
        

   
    
    
    
    