body {
font-family:Georgia;
}

.baner1, .baner2,.baner3,.stopka1,.stopka2,.stopka3 {
background-color: sienna;
color:white;
height:150px;
}

.baner1,.stopka1 {
    width: 40%;
}

.baner2,.stopka2 {
    width: 50%;
    font-size: 150%;
}
.baner3,.stopka3 {
    width: 10%;
    text-align: center;
}
.glowny {
background-color: tan;
padding:100px;
}


.baner1, .baner2,.baner3{
    float: left;
}




.glowny{
    float: none;

}

.stopka1,.stopka2,.stopka3{
    float: left;
}



a {
    border:1px dotted sienna;
    background-color: tan;
    color: sienna;
    padding: 40px;
    line-height: 150px;
}

ul {
    list-style-type: circle;
}