body { 
    font-style:Georgia; 
} 
 
 
 
.logo,.menu{ 
    background-color: #63AC74; 
    color:orange; 
    height: 150px; 
    width:50%; 
    text-align: right; 
    font-size: 160%; 
    float: left; 
    
} 
 
 
.glowny{ 
    background-color:  #E3F6E7; 
    height: 500px; 
    padding: 20px; 
} 
 
.stopka1,.stopka2,.stopka3,.stopka4{ 
    background-color: #63AC74; 
    height: 150px; 
    width:25%; 
    float: left; 
} 
 
a{ 
    color:orange; 
    margin:15px; 
} 
 
table{ 
    width: 100%; 
    border-style: solid; 
    border-width: 2px; 
    border-color: green; 
} 
 
th{ 
    background-color: #63AC74; 
    color:white; 
} 
 
td.innywyglad{ 
    text-align:right; 
}