body {
    font-family: arial;
    color: white;
}
table tr td:nth-child(2) {
    width:405px;
}
a {
    color: rgb(21, 255, 0);
}
.banner, .panel_prawy, .stopka {
    background: #5957a1;
    text-align: center;
}
.panel_lewy {
    background: #bbadcd;
    width: 65%;
    height: 450px;
}
.banner {
    padding: 10px;
}
.panel_prawy {
    width: 35%;
    height: 450px;
}
